# Compilação
bin/
obj/

# Configurações do Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos de log e cache
*.log
*.cache
*.vsconfig

# Dependências geradas
packages/
!packages/build/

# Configuração do NuGet
.nuget/
nlog.config

# Arquivos temporários e de depuração
*.pdb
*.ilk
*.obj
*.sbr
*.aps
*.ncb
*.sdf
*.opendb
*.tlog
*.lastbuildstate

# Publicação e Deploy
publish/
dist/

# Arquivos de Teste
TestResults/
*.trx
*.coverage

# Configurações do Rider e ReSharper
.idea/
*.DotSettings.user

# Arquivos específicos do sistema operacional
*.DS_Store
Thumbs.db

# Chaves e credenciais sensíveis
*.key
*.snk
secrets.json

# Configuração do Docker
.dockerignore

# Configuração do Terraform
.terraform/

# Configuração do Kubernetes
.kube/
